* {
	margin: 0;
	padding: 0;
}

/*
Variable declarations
 */
:root {
	--main-bg-color: #008080;
	--secondary-bg-color: #ddeae8;
	--main-text-color: #4a4a4a;
	--secondary-text-color: #505050;
}

html,
body {
	background-color: #fff;
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

nav {
	background-color: var(--main-bg-color);
	width: 100%;
	box-shadow: 0 2px 0 0 #f5f5f5;
	position: fixed;
	z-index: 1;
}

nav p {
	padding: 2rem 2rem;
	max-width: 1344px;
	width: 1344px;
	margin: 0 auto;
	font-size: 1.5rem;
	color: #fff;
}

section {
	padding: 8rem 1.5rem 3rem;
}

.container {
	margin: 0 auto;
	position: relative;
}

.container .select-boxes {
	display: flex;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 1.5rem;
}

.container .select-boxes div {
	flex: 1;
}

select {
	min-height: 38px;
	max-width: 292px;
	width: 100%;
	font-size: 1rem;
	margin-top: 12px;
	padding: 12px 20px 12px 12px;
	-webkit-appearance: none;
	border: 1px solid #ddd;
	background-color: var(--secondary-bg-color);
	color: var(--main-text-color);
	outline: none;
	box-sizing: border-box;
}

.myInput {
	background-size: 18px 18px;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 1rem;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-top: 12px;
	max-width: 292px;
	border-radius: 4px;
	background-color: var(--secondary-bg-color);
	outline: none;
	box-sizing: border-box;
}

.myInput.search {
	background-image: url("../icons/search.svg");
}

.subtitle {
	color: var(--main-text-color);
	font-size: 1.3rem;
}

.feed-section .title {
	margin: 0 12px;
}

.feeds {
	margin-top: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.feeds::after {
	content: "";
	flex: auto;
}

.feeds .feed {
	flex: 0 0 31.5%;
	margin: 12px;
	height: 430px;
	min-width: 0;
}

.feeds .feed:last-child {
	margin-right: 0px;
}

.card {
	background-color: #fff;
	box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
	color: var(--main-text-color);
	max-width: 100%;
	position: relative;
}

.card-image {
	display: block;
	position: relative;
	height: 285px;
}

.card img {
	width: 100%;
	height: 100%;
}

.card-content {
	background-color: transparent;
	padding: 1.5rem;
}

.card .card-content .name {
	font-size: 20px;
	margin-bottom: 12px;
}

.card .card-content .desc {
	font-size: 14px;
	margin-bottom: 12px;
	color: var(--secondary-text-color);
	height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	line-height: 1.2;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.card .card-content .date {
	font-size: 12px;
	color: #828282;
}

.table-div {
	margin: 12px;
	overflow-x: scroll;
}

.table-container {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1.5rem;
}

.table-container td,
.table-container th {
	border: 1px solid #ddd;
	padding: 8px;
}

.table-container tr:nth-child(even) {
	background-color: #f2f2f2;
}

/*.table-container tr:hover {
	background-color: #ddd;
}*/

.table-container th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--main-bg-color);
	color: white;
}

.table-container .table-name {
	min-width: 200px;
}

.table-container .table-date {
	min-width: 100px;
}

.table-container .table-image {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
}

.table-container .table-image img {
	width: 100%;
	height: 100%;
}

/*********************************Media Queries*********************************/

/* 
  ##Device = iMac etc.,
  ##Screen = 1472px and above.
*/

@media (min-width: 1357px) {
	/* For desktop: */
	.container {
		max-width: 1344px;
		width: 1344px;
	}
	.container .select-boxes div:last-child {
		text-align: right;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1356px) {
	.feeds .feed {
		flex: 0 0 45%;
		height: 450px;
	}
	.container .select-boxes div {
		margin: 12px;
	}
	.container .select-boxes div:last-child {
		text-align: right;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
	.feeds .feed {
		flex: 0 0 97%;
	}
	.container .select-boxes {
		flex-direction: column;
	}
	.container .select-boxes div:first-child {
		margin-bottom: 1.5rem;
	}
	.container .select-boxes div:last-child {
		text-align: left;
	}
	.myInput,
	select {
		max-width: 100%;
	}

	.table-container .table-name {
		min-width: 100px;
	}

	.table-container .table-image {
		width: 100px;
		height: 100px;
		box-sizing: border-box;
	}
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
	.feeds .feed {
		flex: 0 0 93%;
		height: 460px;
	}
	.container .select-boxes {
		flex-direction: column;
	}
	.container .select-boxes div:first-child {
		margin-bottom: 1.5rem;
	}
	.container .select-boxes div:last-child {
		text-align: left;
	}
	.myInput,
	select {
		max-width: 100%;
	}
	.table-container .table-name {
		min-width: 100px;
	}

	.table-container .table-image {
		width: 100px;
		height: 100px;
		box-sizing: border-box;
	}
}
